<div class="container">
   <div class="card mt-4 container justify-content-center placeholder-glow" style="width: 18rem;">
      <img src="{{user.image}}" class="card-img-top" alt="Loading...!" id="img">
      <div class="card-body">
         <h5 class="card-title text-center col-12 placeholder" id="name"> {{user.name}}</h5>
         <p class="card-text col-10 placeholder" id="facebook">
            <ion-icon name="logo-facebook"></ion-icon>
            {{user.facebook}}
         </p>
         <p class="card-text col-11 placeholder" id="mail">
            <ion-icon name="mail"></ion-icon>
            {{user.mail}}
         </p>
         <p class="card-text col-9 placeholder" id="adr">
            <ion-icon name="home"></ion-icon>
            {{user.address}}
         </p>
         <a href="http://m.me/{{user.facebook}}" class="btn btn-primary col-12 placeholder"  id="btn">Message</a>
      </div>
   </div>
</div>
</div>
{{#if user}}
<script>
  setTimeout(() => document.querySelectorAll(".placeholder").forEach(x => x.classList.remove("placeholder")),500)
</script>
{{/if}}
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> 
